.send-button {
        background-color: green;
        margin-left: 10px;
        height: 30px;
        width: 50px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;
        cursor: pointer;

      }

      .header {
        display: flex;
        justify-content: center;

        margin-bottom: 60px;

      }

      .chat-input {
        padding: 24px, 15px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;

        padding-left: 30px;

        flex-grow: 0.5;
      }